################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/SignalR/.vs/SignalR/v16/Server/sqlite3
