@page
<div style="margin-bottom:10px">
    <input type="button" id="joinGroup" value="Participar Grupo Particular" />
</div>

<div style="margin-bottom:10px">
<textarea name="message" id="message" cols="25"></textarea>
</div>

<div style="margin-bottom:10px">
    <select id="group">
        <option value="All">Todos</option>
        <option value="Myself">Individual</option>
        <option value="PrivateGroup">Grupo Particular</option>
    </select>
</div>

<div style="margin-bottom:10px">
    <input type="button" id="sendButton" value="Enviar Mensagem" />
</div>

<div id="messages"></div>

    <script src="~/lib/signalr.js"></script>
    <script src="~/js/message.js"></script>
